@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
    opacity: 0.8;
  }

  80%,
  100% {
    opacity: 0;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.permission-shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

.pulse-ring {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #EF4444;
  /* Red for visibility */
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}